//- hall 1

if block.title == 'Армия'
	include army.html
if block.title == 'Государственное управление'
	include gos.html

//- hall 2

if block.title == 'Восстановление народного хозяйства'
	include nar_hoz.html
if block.title == 'Медицина'
	include med.html
if block.title == 'Наука'
	include since.html
if block.title == 'Оружие Победы'
	include weapon_win.html

//- hall 3

if block.title == 'Государство и церковь'
	include gos_cerk.html
if block.title == 'Культура'
	include cult.html

//- hall 4

if block.title == 'Карелия'
	include karel.html
if block.title == 'Крым'
	include krym.html
if block.title == 'Ленинград'
	include leningrad.html

//- hall 5

if block.title == 'Коллаборационизм'
	include kallob.html
if block.title == 'Комсомол'
	include komsom.html
if block.title == 'Партизанское движение'
	include partizan.html

//- hall 6

if block.title == 'Белоруссия'
	include belorus.html
if block.title == 'Молдавия'
	include moldav.html
if block.title == 'Прибалтика'
	include pribalt.html
if block.title == 'Украина'
	include ukr.html

//- hall 7

if block.title == 'Австрия'
	include avstr.html
if block.title == 'Болгария'
	include bolgar.html
if block.title == 'Венгрия'
	include vengr.html
if block.title == 'Германия'
	include germ.html
if block.title == 'Норвегия'
	include norv.html
if block.title == 'Польша'
	include pol.html
if block.title == 'Румыния'
	include rum.html
if block.title == 'Чехословакия'
	include che.html
if block.title == 'Югославия'
	include ugoslavia.html

//- hall 8

if block.title == 'Антигитлеровская коалиция'
	include antigitler.html
if block.title == 'Парад Победы'
	include parad.html

